@use 'base/mixins' as m;
@use 'base/variables' as v;


.contenido-contacto {
    @include m.desktop {
        @include m.grid (2, v.$separacion);
        background-image: url(../img/granos_cafe.jpg);
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 40%;
    }
}

.formulario {

    .campo {
        margin-bottom: 2rem;

        &:last-of-type {
            margin-bottom: 0;
        }
        label {
            display: block;
            font-weight: 700;
            font-size: 2.2rem;
            text-transform: uppercase;
        }

        input:not([type="submit"]),
        select {
            width: 100%;
            padding: 1rem;
            border: .5rem solid v.$primario;
        }

        input[type="submit"] {
            border: none;
            width: 100%;
            padding:1rem;
            background-color: v.$primario;
            color: v.$blanco;
            font-weight: 700;
            font-size: 2.2rem;
            text-transform: uppercase;

            &:hover {
                cursor: pointer;
            }
        }


    }
}